<div class="col-md-6">
<div class="" style="border:1px solid #000" id="contentToConvert">
<h3 style="text-align:center">DIGITAL SUPPORT PROGRAMME
  CONTINUATION PLANNING MENTORING REPORT
  </h3>
  <table>
    <tr>
      <td>Company Name:</td>
      <td><input type="text" name="" id=""> </td>
    </tr>
    <tr>
      <td>Contact Name:</td>
      <td><textarea name="" id="" cols="50" rows="4"></textarea></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><textarea name="" id="" cols="50" rows="4"></textarea></td>
    </tr>
  </table>
  </div>
</div>
<div class="col-md-6">
  <div class="" style="border:1px solid #000" id="contentToConvert">
  <h3 style="text-align:center">DIGITAL SUPPORT PROGRAMME
    CONTINUATION PLANNING MENTORING REPORT
    </h3>
    <table>
      <tr>
        <td>Company Name:</td>
        <td><input type="text" name="" id=""> </td>
      </tr>
      <tr>
        <td>Contact Name:</td>
        <td><textarea name="" id="" cols="50" rows="4"></textarea></td>
      </tr>
      <tr>
        <td>Date:</td>
        <td><textarea name="" id="" cols="50" rows="4"></textarea></td>
      </tr>
    </table>
    </div>
  </div>
  <input type="button" value="CPTURE" (click)="captureScreen()"/> 